HTTP_PORT=8082

RABBITMQ_URL=
# amqps://user:pass@host/vhost for CloudAMQP
JOB_QUEUE=job_status_email_notification
MONGO_URI=
MONGO_DB=proteng_example

# base64-encoded RSA private key
ACCESS_TOKEN_PRIVATE_KEY=
ACCESS_TOKEN_EXPIRED_IN=1h
ACCESS_TOKEN_MAXAGE=3600

EMAIL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
ORIGIN=http://localhost:5173